<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .footer {
        position: relative;
        height: 200px;
        /*background-image: url('../Images/images5.jpg');*/
        /*background-color: #bab0b0;*/
        background-color: #0c1a1e;
        margin-bottom: 0px;
    }

    ul li {
        margin-top: 2px;
        margin-bottom: 2px;
        list-style-type: none;
        color:#ffffff;
        font-weight:bold;
    }

        ul li a:hover {
            color: #ffffff;
            font-weight: bold;
        }
    /*.companyFooterName {
        position: relative;
        margin-left: 40px;
        bottom: 8px;
    }*/



    .bottomleft {
        position: absolute;
        bottom: 8px;
        left: 40px;
        color: #ffffff;
        font-weight: bold;
    }
    .col-lg-3{
        margin-top: 15px;
    }
   
</style>
<div class="footer">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="linkHeader">PROPERTY</li>
                <li><a href="#">Property For Sale</a></li>
                <li><a href="#"> Property To Rent</a></li>
                <li><a href="#">New Developments</a></li>
                <li><a href="#"></a></li>
            </ul>
           
        </div>
        
        
        <div class="col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li class="linkHeader">MEDIA</li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#"> Twitter</a></li>
                <li><a href="#">Youtube</a></li>
                
            </ul>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            
            <ul>
                <li class="linkHeader">COMPANY</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#"> Contact Us</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
    </div>
    <div class="bottomleft">
        <p class="companyFooterName">&copy; @DateTime.Now.Year - Malatji Private Properties</p>
    </div>
    
</div>